.PageAdminCalendrier {
    background-color: rgba(01, 86, 121, 0.7);
    border-radius: 1%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    width:1200px;
    top:300px;
    left:0;
  }

.titreAdminCalendrier {
    color: white;
    text-align: center;
}

.boutonRetour{
    transform:scale(1, 1);
    transition: 0.5s;
}

.boutonRetour:hover{
    transform:scale(1.1, 1.1);
}

.Calendrier_Admin {
    border-radius: 1%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding:2%;
    height:350px;
    color: white;
}



.sousCalendrier_Admin{
    height:240px;
    overflow-y:scroll;
    margin: 0;
    padding: 0;
}


.Row_Admin_Calendrier{
    transform:scale(1, 1);
    transition: 0.5s;
    padding-right:10px;
    height:80px;
    width:650px;
    margin-bottom:3px;
    text-align:center;
    background-color:rgb(254,124,0,0.8)

}

.Row_Admin_Calendrier:hover{
    transform:scale(1.02, 1.02);
    height:95px;
    padding-left:10px;
    padding-bottom:5px;
    padding-top:5px;
    text-align:center;
    background-color:rgb(254,124,0,1)

}

    .Form_Declaration_Match>button{
        transform:scale(1, 1);
        transition: 0.5s;
    }
    .Form_Declaration_Match>button:hover{
        transform:scale(1.1, 1.1);
    }

    .Envoyer_Form_Declaration_Match{
            margin-top:10px;
            transform:scale(1, 1);
            transition: 0.5s;
        }
    .Envoyer_Form_Declaration_Match:hover{
            transform:scale(1.02, 1.02);
        }

    .Form_Modification-Match{
        width:300px;
    }

    .Boutons_Form_Modification-Match{
        margin-top:10px;
        display:flex;
        justify-content: space-around;
        transform:scale(1, 1);
        transition: 0.5s;
    }
    .Boutons_Form_Modification-Match:hover{
        transform:scale(1.1,1.1);
    }

@media (max-width: 640px) {
    .PageAdminCalendrier {
        background-color: rgba(01, 86, 121, 0.7);
        border-radius: 1%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        height:620px;
        width:340px;
        top:300px;
        left:0;
      }
    
    .titreAdminCalendrier{
        font-size: 18px;
        font-weight:bold;
        color: white;
    }
    
    .Calendrier_Admin {
        width:310px;

    }
    
    .sousCalendrier_Admin{
        height:420px;
        width:290px;
        overflow-y: auto;
    }
    
    
    .Row_Admin_Calendrier{
        height:120px;
        margin:0;
        padding:0;
    }
    .Row_Admin_Calendrier:hover{
        height:140px;
        padding:0;
        margin:0;

        
    }
    
        .Form_Declaration_Match{
            position:relative;
            top:250px;
        }
     
        .Form_Modification-Match{
            width:300px;
        }
    
    .boutonRetour{
        display:none;
    }

}