.fond_admin_news {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
}

.formulaire_news {
    padding: 20px;
    margin: 3%;
    border: 3px solid #ff731a;
}

.titre_form {
    text-decoration: underline;
    margin-bottom: 5%;
}

.supprimer {
    margin-right: 1%;
}

.affichage_news img {
    width: 40%;
}

.titre_gestion {
    text-align: center;
}

.image_article {
    margin-bottom: 61px;
}

.ajouter {
    margin-right: 10px;
}

.supprimer {
    margin-left: 20px;
}