
.Bandeau_calendrier{
    background-color: rgba(29, 29, 29,0.5);
    color:white;
    font-size:15px;
    font-weight:bold;
    display:flex;
    text-align: center;
    align-items: center;
    padding-top:1%;
    height:10%;

}

.Bandeau_sponsors{
    color:white;
    font-weight:normal;
    padding:0;
    display:flex;
    overflow-x: hidden;
}

.boutonAdd {
    width: 50%;
    transform:scale(1, 1);
    transition: 0.5s;
}

.boutonAdd:hover {
    transform:scale(1.5, 1.5)
}

.Bandeau_texte{
    transform:scale(1, 1);
    transition: 0.5s;
}


.Bandeau_ligneTableau:hover{
    transform:scale(1.5, 1.5)
}


@media (max-width: 1000px) {
    .Bandeau_sponsors{
        display:none;
    }
    .Bandeau_calendrier{
        padding-top:6%;
        padding-right:6%;
    }
}