.Bandeau_calendrier{
    background-color: rgba(29, 29, 29,0.5);
    color:white;
    font-size:15px;
    font-weight:bold;
    padding-top:2%;
    padding-bottom:0 !important;
    align-items: center;
    text-align: center;
}

.Bandeau_sponsors{
    color:white;
    font-size:25px;
    font-weight:normal;
    padding:0;
    align-items: center;
    text-align: center;
}


.boutonAdd {
    width: 50%;
}

@media (max-width: 640px) {
    .Bandeau_sponsors{
        display:none;
    }
    .Bandeau_calendrier{
        padding-top:6%;
        padding-right:6%;
    }
}