.image_joueur {
    height: 100%;
    width: 100%;
}

.bloc-name.info{
    text-align: center;
    background-color: #105579;
    color: white;
}
.container.infos-joueur {

position: center;
border: 3px solid orange;
padding: 0px;
}

.lastname_player {
    margin-bottom: 0px;
}

div.Colonne-player {
    margin: 2px;
    margin-right: 0px;
}