.footer {
    background-color: rgb(41, 39, 39);
}

img {
    width: 150px;
    height: 150px;
}

p {
    color: rgba(255, 255, 255, 0.863);
}

.lien {
    display : flex;
    align-items: center;
    justify-content: center;
}