.footer {
    background-color: rgb(0, 52, 75, 0.9);
    left: 0;
    bottom: 0;
}

.lien_section_footer {
    display : flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}

.logo_reseau_fb {
    width : 30px;
    height: 30px;
}

.logo_reseau_twitter {
    width : 30px;
    height: 30px;
}

.logo_reseau_insta {
    width : 30px;
    height: 30px;
}

.logo_reseau_youtube {
    width : 40px;
    height: 40px;
}

.logo_reseau_twitter:hover {
    content: url(https://i.imgur.com/UCOs2Vl.png);
}

.logo_reseau_fb:hover {
    content: url(https://i.imgur.com/9mG29OE.png);
}

.logo_reseau_insta:hover {
    content: url(https://i.imgur.com/2HWyVXc.png);
}

.logo_reseau_youtube:hover {
    content: url(https://i.imgur.com/duMfUij.png);
}

